<%- include('partials/header', {title:"Opponent Details- P, R, S"}) -%>

<h2>Club - <%=club.name%></h2>


<table>
  <tr>
    <th>
      Name:
    </th>
    <td>
      <%=club.name%>
    </td>
  </tr>
  <tr>
    <th>
      Student Leaders
    </th>
    <td>
      <%=club.studentLeaders%>
    </td>
  </tr>
  <tr>
    <th>
      Advisors
    </th>
    <td>
      <%=club.advisors%>
    </td>
  </tr>
  <tr>
    <th>
      Description
    </th>
    <td>
      <%=club.description%>
    </td>
  </tr>
</table>

<%- include('partials/footer') -%>
