<%- include('partials/header', {title:"Opponent Details- P, R, S"}) -%>

<h2>Club Directory</h2>

<% for (let name in data) { %>
<h5><%=name%><h5>
<h6><%=name[studentLeaders]%><h6>
<h6><%=name[advisors]%><h6>
<h6><%=name[description]%><h6>

<% } %>


<%- include('partials/footer') -%>
