<%- include('partials/header', {title:"Opponent Details- P, R, S"}) -%>

<h2>Club - <%=club.name%></h2>


<table>
  <tr>
    <th>
      Name:
    </th>
    <td>
      <%=club.name%>
    </td>
  </tr>
  <tr>
    <th>
      Student Leaders
    </th>
    <td>
      <%=club.studentLeaders%>
    </td>
  </tr>
  <tr>
    <th>
      Advisors
    </th>
    <td>
      <%=club.advisors%>
    </td>
  </tr>
  <tr>
    <th>
      Description
    </th>
    <td>
      <%=club.description%>
    </td>
  </tr>

    <% for (let rev in reviews) { %>
      <% if (reviews[rev]["clubName"] == nameClub) { %>
  <tr>
    <th>
      Reviews
    </th>
    <td>
      <%=reviews[rev]["authorName"] + ": " + reviews[rev]["review"]%>
    </td>
  </tr>
      <% } %>
    <% } %>

</table>

<%- include('partials/footer') -%>
